.details-container {
    align-items: center;
    margin-left:40%;
    height: 100vh; /* Set the container height to full viewport height */
  }
  
  .card-container {
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px; /* Adjust the maximum width of the card */
  }
  
  .card-image {
    width: 100%;
    height: auto;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .card-description {
    font-size: 1rem;
    color: #555555;
    text-align: center;
  }
  